.dkcss-2xgqbm {
    box-sizing: border-box;
    margin: 0px auto;
    min-width: 0px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
    padding: 40px 0px;
    display: flex;
}
.dkcss-1ojojoq h1 {
    font-size: 24px;
    margin: 0px auto;
    font-family: inherit;
    line-height: 28px;
}
.dkcss-879nwf {
    margin: 20px;
    font-family: inherit;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}
.dkcss-p49bx0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 5px 0px;
}
.dkcss-102wt97 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px 15px 8px 0px;
    cursor: pointer;
}
.dkcss-p49bx0 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 5px 0px;
}
.dkcss-1bh6hao {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
}
.dkcss-17wjjf8 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: inline-flex;
    position: relative;
    width: 100%;
}
.dkcss-102wt97 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    margin: 0px 15px 8px 0px;
    cursor: pointer;
}
.dkcss-1tv8j3c {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.dkcss-1tv8j3c {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.form-input-control {
    width: 100%;
    font-family: -apple-system,BlinkMacSystemFont,system-ui,"Roboto",sans-serif;
    margin-bottom: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0;
}
.form-input-control .form-label {
    margin-bottom: 4px;
}
.Label_label__1gAWQ {
    font-size: 12px;
    padding-left: 1px;
    color: #4d4d4d;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: normal;
}
.Label_label__1gAWQ .Label_sr-only__\/nNH4, .Label_label__1gAWQ .Label_hidden__I\+xw9 {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.dkcss-102wt97 input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.dkcss-102wt97 label {
    display: flex;
    position: relative;
    font-weight: normal;
    cursor: pointer;
}
.dkcss-38bt5b {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 4px;
    align-self: center;
}
