body {
  background-color: #111;
  color: white;
  margin: 2px;
}
.logo {
  width: 100px;
}
.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
}

.nav-link:hover {
  color: #fafafa;
}
.sidebar-menus {
  margin-bottom: 20px;
}

.sidebar-menu {
  text-align: left;
}

.sidebar-menu div {
  text-align: left;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-menu div:hover {
  background-color: #555;
}

.sidebar-title {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.sidebar-title:hover {
  color: #58d7af;
  background-color: #555;
}

.horizontalDivider {
  background-color: #888;
  width: 98%;
  height: 1px;
  margin: auto;
}

.sidebar {
  background-color: #333;
  /* width: 200px; */
  padding-top: 20px;
}

.logo {
  width: 80px;
  height: 50px;
}

.header-upper {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.header-lower {
  color: green;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.no-margin {
  margin: 0px;
  padding: 0px;
}
.accordion {
  background-color: #111;
  color: white;
}

.accordionItem {
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  padding: 10px;
  cursor: pointer;
}

.rotate-icon {
  transform: rotate(180deg);
}
.table-header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
}

.moneyLine-table {
  background-color: #222;
  margin: 15px;
  padding: 10px;
  text-align: left;
}

.moneyLine {
  background-color: #222;
  padding: 15px;
  margin: 15px;
  text-align: left;
}

.mainTableHeader {
  margin-top: 30px;
  background-color: black;
}

.main-table-roundButton {
  padding: 7px 20px;
  cursor: pointer;
  color: #888;
  text-transform: uppercase;
  font-size: 12px;
  border-style: solid;
  border-radius: 40px;
  border-color: #888;
  margin: 5px;
  display: flex;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

.main-table-roundButton:hover {
  color: #eee;
  border-color: #eee;
}

.main-table-header {
  padding: 10px 20px;
  cursor: pointer;
  color: #888;
}

.main-table-header:hover {
  color: #eee;
}

.active {
  color: white;
  border-color: white;
}

@media (max-width: 1400px) and (min-width: 768px) {

  .main-table-roundButton {
    padding: 2px 10px;
    margin: 2px;
    margin-top: 15px;
  }
}
@media (max-width: 1000px) and (min-width: 768px) {

  .main-table-roundButton {
    padding: 2px 4px;
    margin: 2px;
    margin-top: 15px;
  }
}
@media (max-width: 900px) and (min-width: 768px) {

  .main-table-roundButton {
    font-size: x-small;
  }
}
@media (max-width: 670px) {

  .main-table-roundButton {
    padding: 2px 10px;
    margin: 2px;
    margin-top: 15px;
  }
}
@media (max-width: 500px) {

  .main-table-roundButton {
    padding: 2px 4px;
    margin: 2px;
    margin-top: 15px;
  }
}
@media (max-width: 400px) {

  .main-table-roundButton {
    font-size: x-small;
  }
}
.card-header-left-slogan {
  color: green;
}


.main-table-header {
  padding: 10px 20px;
  cursor: pointer;
  color: #888;
}

.main-table-header:hover {
  color: #eee;
}

.cards {
  justify-content: flex-start;
}

.card {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: green;
  height: 180px;
  width: 300px;
}

.whiteButton:hover {
  margin-top: -3px;
}

.whiteButton:active {
  margin-top: 3px;
}

.blueButton {
  background-color: blue;
  color: white;
}

.blueButton:hover {
  margin-top: -3px;
  margin-left: -3px;
}

.blueButton:active {
  background-color: #56d;
  color: white;
  margin-top: 3px;
  margin-left: 3px;
}

.greenBG {
  background-color: #5d5;
}

.roundButton {
  border-width: 1px;
  border-style: solid;
  border-color: #335;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
  margin: 10px;
}

.card-header-left {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.link {
  color: blue;
  cursor: pointer;
  font-size: 12px;
}

.card-header {
  height: 100%;
  color: black;
  /* background-color: white; */
}

.closeButton {
  color: black;
  text-align: right;
  padding-top: 3px;
  padding-right: 5px;
  cursor: pointer;
  /* background-color: white; */
}

.adcards {
  background-color: #111;
}

.AdHeader {
  /* padding: 30px; */
  background-color: #444;
  background-image: url("../img/card-header-bg.png");
  background-size: cover;
  /* Adjust as needed */
}

@media (max-width: 789px) {

  .card-header-left {
    font-size: 12px;
  }

  .AdHeader {
    padding: 10px;
  }

  .roundButton {
    border-radius: 10px;
    padding: 5px 10px;
    margin: 2px;
  }

}
.betButton {
  border-radius: 10px;
  background-color: rgb(86, 192, 86);
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;
}
.betButton:hover {
  background-color: rgb(0, 255, 0);
  color: black;
}
.betButton:active {
  background-color: #050;
  color: #eee;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input {
  border-style: none;
  width: 100%;
  text-align: right;
  font-size: 14px;
}
input:focus {
  outline: none;
}
.inputbox {
  height: 40px;
  width: 90px;
  border-radius: 7px;
  border-style: solid;
  border-width: 1px;
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.betcard-header {
  font-size: 14px;
  font-weight: bold;
}
.betcard {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.betInfoTitle {
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
}
.betslip-header-help {
  font-size: 14px;
  text-transform: initial;
  cursor: pointer;
}

.betslip-header {
  text-transform: uppercase;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.betslip {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 10px;
}
.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sticky {
  position: sticky;
  top: 0;
}
.sticky30 {
  position: sticky;
  top: calc(30px + 1rem);
}
.sticky60 {
  position: sticky;
  top: calc(60px + 1rem);
}
.header {
  background-color: #111;
  z-index: 100;
}
.around {
  display: flex;
  justify-content: space-around;
}

.bettable01-betbutton {
  background-color: #555;
  color: #eee;
  font-size: 16px;
  padding: 10px 20px;
  width: 100%;
  margin: 2px 2px;
  text-align: center;
  cursor: pointer;
}

.bettable01-betbutton:hover {
  background-color: #333;
  color: #eee;
}

.bettable01-betbutton:active {
  background-color: #222;
  color: #eee;
}

.bettable01-betbuttons {
  /* background-color: #555; */
  color: #eee;
  font-size: 16px;
  /* padding: 10px 20px; */
  width: 100%;
  /* margin: 2px 5px; */
}

.bettable01-score {
  color: yellow;
  font-size: 16px;
  width: 30px;
  padding-right: 20px;
}

.bettable01-score div {
  display: flex;
  align-items: center;
  height: 40px;
}

.bettable01-teamNames {
  color: white;
  font-size: 16px;
  width: 100%;

}

.bettable01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bettable01-teamNames div {
  height: 40px;
  display: flex;
  align-items: center;
}
.accordion-item {
  background-color: #111;
  color: white;
}
.accordion-button {
  background-color: #111;
  color: white;
}
.accordion-button:not(.collapsed) {
  background-color: #111;
  color: white;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  /* padding: 58px 0 0; Height of navbar */
  margin-top: 80px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 60;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.list-group-item {
  background-color: transparent;
  color: #aaa;
}
.list-group-item:hover {
  background-color: #111;
  color: #ddd;
  /* color: #aaa; */
}
.list-group-item:current {
  background-color: #111;
  /* color: #aaa; */
}