body {
  background: #121212;
  color: white;
  margin: 2px;
}
.main-content {
  margin-top: 10px;
  margin-left: 9px;
  margin-right: 9px;
  display: flex;
}
.sidebar {
  color: white;
}
.logo {
  width: 255px;
  height: 95px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular {
  margin-top: 10px;
  border-radius: 10px;
  background: #1C2023;
}
.popular-header {
  padding-top: 14.5px;
  padding-left: 34.27px;
  padding-bottom: 14.5px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  cursor: pointer;
}
.popular-header:hover {
  color: #EFCE6F;
}