body {
  background: #121212;
  color: white;
  margin: 2px;
}
.main-content {
  margin-top: 10px;
  padding-left: 9px;
  padding-right: 9px;
  display: flex;
  max-width: 1668px;
  margin-left: auto;
  margin-right: auto;
}
.sidebar {
  color: white;
}
.logo {
  width: 255px;
  height: 95px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidemenus > div {
  margin-top: 10px;
  border-radius: 10px;
  background: #1c2023;
}
.sidemenus-header {
  padding-top: 14.5px;
  padding-left: 34.27px;
  padding-bottom: 14.5px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}
.popular-content {
  margin-top: 10.5px;
  padding-top: 16px;
  padding-left: 38px;
  padding-bottom: 15px;
}
.popular-content div {
  margin-bottom: 4px;
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
}
.sports-teams {
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 38px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}
.sidebutton {
  cursor: pointer;
}
.sidebutton:hover {
  color: #efce6f;
}
.A-Z-sports {
  padding-top: 16px;
  padding-left: 27px;
}
.A-Z-sports-header {
  padding-top: 16px;
  padding-bottom: 19.5px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}
.A-Z-sports-content {
  padding-bottom: 16px;
}
.A-Z-sports-content > div {
  margin-top: 14.5px;
  text-transform: uppercase;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #c5c5c5;
}
.playoff-pages-header {
  padding-top: 18px;
  padding-left: 34.27px;
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.playoff-pages-content {
  margin-top: 19px;
  padding-left: 40px;
}
.playoff-pages-content > div {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ededed;
  padding-bottom: 20.5px;
}
.middle-content {
  width: 100%;
}
.right-content {
  width: 375px;
}
.middle-content > div {
  margin-top: 10px;
  border-radius: 10px;
  background: #1c2023;
}
.right-content > div {
  margin-top: 10px;
  border-radius: 10px;
  background: #1c2023;
}
.right-content-header {
  width: 375px;
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.right-content-header > div {
  display: flex;
  align-items: center;
  text-align: right;
}
.right-content-header-p {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  /* identical to box height, or 227% */
}
.divide-vertical {
  width: 1px;
  height: 25px;
  background-color: #4d4d4d;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 20px 5px;

  width: 76px;
  height: 30px;

  background: #6FE0EF;
  border-radius: 5px;
  
  font-family: 'OpenSansbold';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #000000;
  cursor: pointer;
}
.right-content-body-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  width: 375px;
  height: 56px;
}
.round-number {
  width: 24px;
  height: 24px;
  background: #6FE0EF;
  border-radius: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bet-slip {
  margin-left: 8px;
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: #FFFFFF;
}
.right-title {
  display: flex;
}
.clear-all {
  display: flex;
}
.clear-all-title {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;

  color: #4D4D4D;
  margin-right: 17px;
}
.bet-slip-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 1px;
  gap: 10px;
  width: 353px;
  margin-left: auto;
  margin-right: auto;
}
.betslip-section-heading {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 9px 8px 0px;
  text-transform: uppercase;
  width: 353px;
  height: 34px;
  border-bottom: 2px solid rgba(218, 218, 218, 0.1);

  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: #FFFFFF;
}
.betslip-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px 5px 13px;

  width: 353px;
  
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
}
.betslip-card-container-wrap {
  width: 343px;
  height: 72.23px;
  display: flex;
  align-items: baseline;
}
.single-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  margin-left: 4px;
}
.single-card-header {
  width: 178.55px;
}
.single-card-headings {
  display: flex;
}
.single-card-heading {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  margin-left: 8.5px;
}
.single-card-title {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.5);

  margin-top: 7px;
}
.single-card-content {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  /* or 160% */

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.5);
  margin-top: 2px;
}
.single-card-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 0px 16px;
  gap: 4px;

  width: 140px;
  height: 72px;
}
.bet-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  /* width: 145.45px;
  height: 36px; */
}
.payout {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  /* identical to box height, or 160% */

  display: flex;
  align-items: center;
  text-align: right;

  color: #FFFFFF;
  margin-top: 4px;
}
.betslip-odds {
  display: flex;
}
.OpenSansregular {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;

  /* color: #000000; */
  margin-left: 4px;

}
.betslip-wager-box {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 88px;
  height: 36px;

  border: 1px solid rgba(197, 197, 197, 0.2);
  border-radius: 6px;
}
.currency-simbol {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  display: flex;
  align-items: center;
  margin-left: 11px;
  color: rgba(197, 197, 197, 0.2);
}
input {
  border-style: none;
  width: 100%;
  text-align: right;
  font-size: 14px;
  background-color: transparent;
  color: white;
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;
}
input:focus {
  outline: none;
}
.bet-input {
  width: 56.19px;
  margin-right: 6.8px;
}
.betslip-all-singles {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px 5px;
  gap: 115px;

  width: 353px;
  height: 61px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
}
.betslip-all-singles-title {
  font-family: 'OpenSansregular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-left: 18px;
  /* identical to box height, or 167% */

  display: flex;
  align-items: center;

  color: #FFFFFF;
}